


.dropzone {
    min-height: 230px;
    border: 2px dashed $gray-500;
    background:$gray-800;
    border-radius: 6px;
  
    .dz-message {
      font-size: 26px;
    }
  }

  .dropify-wrapper .dropify-preview{
    background:$gray-800;
  }
  .dropify-wrapper{
    border: 2px dashed $gray-500;
    background:$gray-800;
    &:hover {
      background-size: 30px 30px;
      background-image: -webkit-linear-gradient(135deg,#303344 25%,transparent 25%,transparent 50%,#303344 50%,#303344 75%,transparent 75%,transparent);
      background-image: linear-gradient(-45deg,#303344 25%,transparent 25%,transparent 50%,#303344 50%,#303344 75%,transparent 75%,transparent);
      -webkit-animation: stripes 2s linear infinite;
      animation: stripes 2s linear infinite;
    }
  }
