
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');


// Color variables

$white:                     #ffffff;
$primary:                   #44a2d2;
$secondary:                 #9a9a9a;
$success:                   #0acf97;
$info:                      #2d7bf4;
$warning:                   #f9bc0b;
$danger:                    #f1556c;
$purple:                    #777edd;
$pink:                      #ff679b;
$muted:                     #86889a;
$dark:                      #313a46;
$light:                     #e7eff7;

// Gray Colors
$gray-100:                  #f8f9fa;
$gray-200:                  #e9ecef;
$gray-300:                  #c1c1c1;
$gray-400:                  #a3a4ab;
$gray-500:                  #8f93a4;
$gray-600:                  #303344;
$gray-700:                  #1f233c;
$gray-800:                  #292c3c;
$gray-900:                  #1d2033;



// Body Background
$bg-body:                   #0f111d;

// Topbar
$topbar-height:               70px;
$bg-navbar:                 #44a2d2; 
$bg-logo:                   #44a2d2;


// Left-sidebar
$bg-leftbar:                #16192a;
$leftbar-width:               240px;
$leftbar-width-collapsed:     70px;
$menu-item-color:           #8f93a4;
$menu-item-hover-color:     #44a2d2;
$menu-sub-item-color:       #8f93a4;
$menu-sub-item-hover-color: #44a2d2;

// Font variables
$font-primary:                'Rubik', sans-serif;

// Font Base
$font-size-base:              14px;

// Shadow
$shadow:                      0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
$shadow-lg:                   0 0 24px 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(0, 0, 0, 0.1);


// Main theme dark color
$main-dark: #0f111d;